
<ion-header>
    <ion-navbar>
        <ion-toolbar>  
            <ion-title>Pentecostal Hymns</ion-title>
        </ion-toolbar>
    </ion-navbar>
  </ion-header>
 
  <ion-content>
     </ion-content>
  <ion-content padding>
      <ion-searchbar showCancelButton cancelButtonText="Custom Cancel" animated placeholder="Filter Schedules"></ion-searchbar>

  
    <!-- <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
        *ngFor="let hym of custom_hymn; let i=index" (click)="viewHymn(i)
    </div>  -->
     <ion-list>
      <ion-item *ngFor="let hym of custom_hymn; let i=index" (click)="viewHymn(i)">
        <!-- <h2 class="hymn-title">test{{ i }} {{ hym.title }}</h2>
        <p class="hymn-author">{{ hym.author }}</p> -->

        <h2 class="hymn-title"> {{hym.title}}</h2>
        <p class="hymn-author">{{hym.author}}</p>

       </ion-item> 
       
    </ion-list>
  </ion-content>
 