<ion-header>
    <ion-navbar>
      <ion-title> <div padding *ngFor="let hymn of hymnRes">
        <p> {{ hymn.title }}<p> </div>
      </ion-title>
      <ion-toolbar>
      </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item *ngFor="let hym of hymnRes">
      <h2 class="hymn-title">{{ hym.title }}</h2>
      <p class="hymn-author">{{ hym.author }}</p>
    </ion-item>
  </ion-list> -->

     <div padding *ngFor="let hymn of hymnRes">
          <p> {{ hymn.hymn }}<p>
      </div>

</ion-content>
         

     